.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: #f7f9fc;
  color: #233044;
  overflow: scroll;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content-container {
  width: 100%;
  height: 100%;
}



.loading {
  justify-content: center;
}

.navbar {
  width: 100%;
  height: 100%;
  background-color: #233044;
  padding-top: 32px;
  color: white;
  /* position: absolute; */
}


.view-container{
  padding-top: 64px;
}
